<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= name %>'s Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
    <div class="container" style="margin-top: 5em">
        <a href="/">Home</a>            
    </div>
    <div class="container" style="margin-top: 1.5em">
        <h1>Selamat datang, <%= name %></h1>
    </div>
    <div class="container">
        <form action="/user/<%= username %>/status" method="post">
            <textarea name="status" class="u-full-width" placeholder="Masukkan status"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>